* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    width: 100%;
    height: 100%;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-container {
    position: relative;
  }
  
  #logo {
    width: 25%;
    height: auto;
    position: absolute;
    right: 0;
    padding: 1%;
  }
  #team {
    color: rgba(1, 180, 228);
  }
  #three {
    color: rgba(144, 206, 161);
  }
  #home {
    color: rgba(1, 180, 228);
  }
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }
 
  #search-container {
  width: 80%;
  
  
  }
  #search-box {
    width: 80%;
    height: 50px;
  }
  #search-btn {
    color: rgba(1, 180, 228);
    text-align: center;
    align-items: center;
    background-color: rgb(13,37,63);
    padding: 18px 25px;

  }
  nav {
    height: 15%;
  }

  #nav,
  #search-btn {
    background-color: rgba(13, 37, 63);
  }
  #search-btn {
    color: rgba(1, 180, 228);
  }
  
  .input,
  .textColor,
  #trending,
  #title,
  .subtitle,
  #storyline {
    color: rgba(13, 37, 63);
  }
  .card-movie {
    height: 513px;
    width: 342px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.2s ease-in-out;
    background-color: white;
    overflow: hidden;
  }
  .rounded {
    border-radius: 5%;
  }
  .columns {
    display: flex;
    align-items: center;
   justify-content: space-between;
  }
  #poster {
    
  width: 100%;
  margin-bottom: 90px;
   
  }
  
  #cast-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 70%;
    margin-left: 80px;
  }
  .recommendations-card {
    height: 231px;
    width: 154px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.2s ease-in-out;
    background-color: white;
    overflow: hidden;
  }
  
  .recommendations-card:hover {
    transform: scale(1.1);
    cursor: pointer;
    overflow: visible;
    height: 100%;
  }
  
  .recommendations {
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .card-movie:hover {
    transform: scale(1.1);
    cursor: pointer;
    overflow: visible;
    height: 100%;
    box-shadow: 0 4px 8px 0 #01b4e4;
  }
  
  #image {
    height: 513px;
    width: 342px;
    object-fit: cover;
  }
  
  /* added */
  #search-history > * {
    border: 2px solid #9e9e9e70;
    border-radius: 4px;
    cursor: pointer;
    margin: 2px 75% 1px 0;
    color: rgb(170, 170, 170);
    padding-left: 2px;
  }
  
  #popular-container {
    padding-bottom: 100px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .card-movie-container {
    height: 530px;
    margin-bottom: 40px;
  }
  
  .popular {
    margin-top: 90px;
  }